<!DOCTYPE html>
<html>
<head>
  <title>JeffLine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= env_stylesheet_link_tag(static: 'application_static',
                              hot: 'application_non_webpack',
                              media: 'all',
                              'data-turbolinks-track' => "reload")  %>

  <!-- These do not use turbolinks, so no data-turbolinks-track -->
  <!-- This is to load the hot assets. -->
  <%= env_javascript_include_tag(hot: ['http://localhost:3500/vendor-bundle.js',
                                       'http://localhost:3500/app-bundle.js']) %>

  <!-- These do use turbolinks -->
  <%= env_javascript_include_tag(static: 'application_static',
                                 hot: 'application_non_webpack',
                                 'data-turbolinks-track' => "reload") %>

  <%= stylesheet_link_tag 'jeff' %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= react_component(
  "NavigationBarApp",
  props: {
    loggedIn: user_signed_in?
  }, 
  prerender: false) 
%>

<div class="<%= @no_container ? '' : 'container' %>">
  <% if notice %>
    <div class="alert alert-info" role="alert"><%= notice%>
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning" role="alert"><%= alert%>
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
    </div>
  <% end %>

  <%= yield %>
</div>

<!-- This is a placeholder for ReactOnRails to know where to render the store props for
     client side hydration -->
<%= redux_store_hydration_data %>

</body>
<% if Rails.env == "production"  %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54793829-7', 'auto');
    ga('send', 'pageview');

  </script>
<% end %>
</html>
